.box {
  .accounts {
    // border-radius: 4px;
    // border: 1px solid #e7eaed;
    padding: 30px 15px;
  }
  .account-card {
    min-height: 150px;
    border-radius: 4px!important;
    border: 1px solid #e7eaed;
    padding: 15px;
    position: relative;
    table {
      width: 100%;
      th,
      td {
        &.em {
          color: #538cc0!important;
        }
        &.bd {
          color: #595f67;
          font-weight: bold!important;
        }
      }
    }
    .operations {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 12px;
      display: none;
      .icon-batonx {
        cursor: pointer;
        margin-right: 10px;
        &:hover {
          color: $primary-color;
        }
      }
    }
    &:hover {
      .operations {
        display: block;
      }
    }
  }
  .add-new-account {
    cursor: pointer;
    &:active {
      background: $header-color;
    }
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: $border-color;
    }
    &:before {
      width: 3px;
      height: 50px;
    }
    &:after {
      height: 3px;
      width: 50px;
    }
  }
}
