form {
  .el-input-group__append {
    border-color: $border-color;
  }
  .el-input,
  .el-input-group {
    max-width: 300px;
    &.el-date-editor {
      width: 100%;
    }
  }
  .el-select {
    width: 100%;
    max-width: 300px;
  }
  .el-form-item {
    margin-bottom: 10px;
  }

  .el-input__inner {
    font-size: 13px;
    color: #595f67;
    // width: 275px;
    height: 30px;
    padding: 0 5px;
    border: 1px solid $border-color;
    &:focus {
      border-color: $primary-color;
    }
  }
}
